

<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="css/style.css">
<body>
     <div class="container" >
          <h1>	<%-title  %> </h1>
          <% if(typeof message !== 'undefined'){%>
               <%-message  %> 
               <% } %> 
          <section>
               <form action="/register/add" method="post">
                    <label for="">Nome</label>
                    <input type="text" name="name" placeholder="Digite seu nome" required>
                    <br>
                    <label for="">Idade</label>
                    <input type="number" name="age" placeholder="Digite sua idade" required>
                    <br>
                    <label for="">E-mail</label>
                    <input type="text" name="email" placeholder="Digite seu e-mail"required>
                    <br>
                    <label for="">Senha</label>
                    <input type="text" maxlength="8" name="password" placeholder="Digite sua senha"required>
                    <br>
                    <label for="">Celular</label>
                    <input id="TELEFONE" type="text" name="celular" placeholder="Digite seu numero"required>
                    <br>
                    <label for="">Principal ?</label>
                    <input type="checkbox" name="principal">
                    <br>
                    <label for=""></label>
                    <input type="submit" value=" Cadastrar" ></input
               </form>
          </section>
     </div>








</body>

</html>