<header>
     <ul>
          <li>
               <a class="listClientA" href="/register">Novo Cliente</a>
          </li>
          <li  >
               <a class="listClientB"  href="/list">List of Clients</a>
          </li>
     </ul>
</header>